* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: local("HelveticaNeueBold"),
      url("./fonts/HelveticaNeue Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Stolzl-Regular";
    src: local("Stolzl-Regular"),
      url("./fonts/Stolzl-Regular.ttf") format("truetype");
    font-weight: 500;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 52px;
}

p, text {
	font-family: 'Stolzl-Regular', sans-serif;
}

button {
  font-family: 'Stolzl-Regular', sans-serif;
}

body {
  font-family: 'Stolzl-Regular', sans-serif;
  --accent: #969AFF;
  --light: #f4f3ee;
  --dark: #413a2e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.switch {
  width: 80px;
  height: 50px;
  background-color: var(--accent);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}
